- content_for(:container_class) { "narrow" }
- content_for(:title) { "Sign in — Plural Profiles" }

.card
  .card__header
    %h1 Sign in

  = form_with url: session_path do |form|
    .form-group
      = form.label :login, "Email address or account name"
      = form.text_field :login, required: true, autocomplete: "username", value: params[:login]

    .form-group
      = form.label :password
      = form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72

    .form-group
      = form.submit "Sign in"

  .form-links
    %p= link_to "Forgot password?", new_password_path
    %p
      Don't have an account?
      = link_to "Sign up", new_registration_path

= render "shared/about"
