<nav class="sidebar" aria-label="Your content">
  <ul class="sidebar__list">
    <li class="sidebar__item sidebar__item--action">
      <%= link_to "Home", root_path, class: "sidebar__link sidebar__link--action" %>
    </li>
  </ul>

  <hr>

  <ul class="sidebar__list">
    <li class="sidebar__item sidebar__item--action">
      <%= link_to "New group", new_our_group_path, class: "sidebar__link sidebar__link--action" %>
    </li>
  </ul>
  <details open data-controller="details-persist" data-details-persist-key-value="sidebar-groups">
    <summary>Groups</summary>
    <ul class="sidebar__list">
      <% @sidebar_groups.each do |group| %>
        <li class="sidebar__item <%= 'sidebar__item--active' if @group && @group.id == group.id %>">
          <% if group.avatar.attached? %>
            <%= image_tag group.avatar.variant(resize_to_fill: [24, 24]), class: "sidebar__avatar", width: 24, height: 24, alt: group.avatar_alt_text.presence || "" %>
          <% end %>
          <%= link_to group.name, our_group_path(group), class: "sidebar__link" %>
        </li>
      <% end %>
    </ul>
  </details>

  <hr>

  <ul class="sidebar__list">
    <li class="sidebar__item sidebar__item--action">
      <%= link_to "New profile", new_our_profile_path, class: "sidebar__link sidebar__link--action" %>
    </li>
  </ul>
  <details open data-controller="details-persist" data-details-persist-key-value="sidebar-profiles">
    <summary>Profiles</summary>
    <ul class="sidebar__list">
      <% @sidebar_profiles.each do |profile| %>
        <li class="sidebar__item <%= 'sidebar__item--active' if @profile && @profile.id == profile.id %>">
          <% if profile.avatar.attached? %>
            <%= image_tag profile.avatar.variant(resize_to_fill: [24, 24]), class: "sidebar__avatar", width: 24, height: 24, alt: profile.avatar_alt_text.presence || "" %>
          <% else %>
            <span class="sidebar__avatar sidebar__avatar--placeholder"><%= profile.name.first.upcase %></span>
          <% end %>
          <%= link_to profile.name, our_profile_path(profile), class: "sidebar__link" %>
        </li>
      <% end %>
    </ul>
  </details>
</nav>
